<IfModule mod_rewrite.c>

RewriteEngine On

#является ли обычным каталогом
RewriteCond %{REQUEST_FILENAME} !-d
#является ли обычным файлом
RewriteCond %{REQUEST_FILENAME} !-f
#L-останавливает процесс преобразования, и текущая ссылка считается окончательной.
#QSA-добавляет исходные параметры запроса (query string) к замене.
#Если замена не включает в себя новые параметры запроса,
#то исходные параметры запроса добавляются автоматически
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

</IfModule>